article {
    background: rgba(37, 52, 104, 0.637);
    border: 0.313rem solid #99E2D3;;
    border-radius: 0.313rem;
    text-align: center;
    padding: 2rem;
    margin:1rem;
    h3 {
        font-size: 1.5rem;
    }
    p {
        font-size: 1rem;
    }
    img {
        width: 50%;
    }
}