
.process__title {
  padding-left: 1.5rem;
  margin: 3rem 0 0 0;
  @include tablet {
    display: flex;
    justify-content: center;
    padding-left: unset;
  }
}

.process__steps{
  padding: 1.5rem;
  margin: 0;
  @include tablet {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }
}

/*! process step number  round !*/
.process__steps--number {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-primary;
  color: #fff;
  border-radius: 50%;
  width: 1.563rem;
  height: 1.563rem;
  transform:translateX(-1rem) ;
    @include tablet {
      right: -0.4rem;
      top: -1rem;
      position: relative;
    }
  }

/*! process step icon!*/
.process__steps--icon {
    color: #b2b2b2;
    margin-right: 1.5rem;
    margin-left: 0.5rem;
    font-size: 1.2em;
}
