body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 1rem;
  background-color: white;
}

header {
  /*! max-width large screen !*/
  max-width: 1440px;
  margin: auto;
}

main {
  /*! max-width large screen !*/
  max-width: 1440px;
  margin: auto;
}

.products_List {
  /*! max-width large screen !*/
  max-width: 1440px;
  margin: auto;
}

section {
  /*! max-width large screen !*/
  max-width: 1440px;
  margin: auto;
}

footer {
  /*! max-width large screen !*/
  max-width: 1440px;
  margin: auto;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  justify-content: space-between;
  border-radius: 1rem;
  background-color: #f3e9f1;
}

.logo {
  height: 5rem;
}

ul {
  list-style: none;
}

a {
  font-size: 1.1rem;
  font-weight: bold;
}

main {
  background-color: #f3e9f1;
  display: flex;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 1rem;
  justify-content: center;
}
main h1 {
  text-align: center;
  font-size: 1.5rem;
}

article {
  background: rgba(37, 52, 104, 0.637);
  border: 0.313rem solid #99E2D3;
  border-radius: 0.313rem;
  text-align: center;
  padding: 2rem;
  margin: 1rem;
}
article h3 {
  font-size: 1.5rem;
}
article p {
  font-size: 1rem;
}
article img {
  width: 50%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background-color: #f3e9f1;
  margin-top: 2rem;
}

ul {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
  margin-top: 1rem;
  list-style: none;
  padding: 0;
}

li {
  padding: 1rem;
  border-radius: 1rem;
  background-color: #f3e9f1;
  list-style: none;
}

figure {
  margin: 0;
}

.block_text {
  align-items: center;
  margin-bottom: 0.5rem;
  display: flex;
}

h2 {
  font-size: inherit;
  font-weight: 700;
  flex-grow: 1;
}

.ratings {
  margin-right: 1rem;
  align-items: center;
  display: flex;
}

.star {
  max-width: 100%;
  display: block;
}

.product_Price {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 0.25rem;
  background-color: white;
}

.contact {
  margin: 1rem;
}

.product {
  flex-direction: row;
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  align-items: stretch;
  display: flex;
  border-radius: 1rem;
  background-color: #f3e9f1;
}

.image_block {
  width: 50%;
  min-width: 50%;
  margin-right: 1rem;
}

.product_Image {
  object-fit: cover;
  border-radius: 1rem;
  max-width: 100%;
  height: auto;
  display: block;
}

.product_block {
  width: 100%;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  display: flex;
}

h1 {
  margin-top: 1rem;
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.ratings {
  align-items: center;
  display: flex;
}

.star {
  height: 1.25rem;
}

.product_Description {
  text-align: justify;
  margin-top: 1rem;
}

h2 {
  margin-top: 1rem;
}

.buy_bouton {
  width: 100%;
  background-color: blueviolet;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
  color: white;
  border-radius: 1rem;
}

/*# sourceMappingURL=style.css.map */
