body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 1rem;
  background-color: white;
  font-family: "Roboto", "Open Sans", sans-serif;
}

header {
  /*! max-width large screen !*/
  max-width: 1440px;
  margin: auto;
}

main {
  /*! max-width large screen !*/
  max-width: 1440px;
  margin: auto;
}

.products_List {
  /*! max-width large screen !*/
  max-width: 1440px;
  margin: auto;
}

section {
  /*! max-width large screen !*/
  max-width: 1440px;
  margin: auto;
}

footer {
  /*! max-width large screen !*/
  max-width: 1440px;
  margin: auto;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  justify-content: space-between;
  border-radius: 1rem;
  background-color: #f3e9f1;
}

.logo {
  height: 5rem;
}

ul {
  list-style: none;
}

a {
  font-size: 1.1rem;
  font-weight: bold;
}

i {
  font-size: 1em;
  margin-right: 1rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background-color: #f3e9f1;
  margin-top: 2rem;
}

.header {
  background-color: #f3e9f1;
  display: flex;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 1rem;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.header h1 {
  font-size: 1.6rem;
  margin-bottom: 0rem;
}
.header p {
  font-size: 1.2rem;
  font-family: "Open Sans";
}

.products_List {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
  margin-top: 1rem;
  list-style: none;
  padding: 0;
}

li {
  padding: 1rem;
  border-radius: 1rem;
  background-color: #f3e9f1;
  list-style: none;
}

figure {
  margin: 0;
}

.block_text {
  align-items: center;
  margin-bottom: 0.5rem;
  display: flex;
}

h2 {
  font-size: inherit;
  font-weight: 700;
  flex-grow: 1;
}

.ratings {
  margin-right: 1rem;
}

.fas.fa-star {
  max-width: 100%;
  display: block;
  color: orange;
  font-size: 0.8em;
  margin: 0;
}

.product_Price {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 0.25rem;
  background-color: white;
}

.contact {
  margin: 1rem;
  display: flex;
}

.far.fa-envelope {
  font-size: 1.2em;
  padding-bottom: 0.2rem;
}

.product {
  flex-direction: row;
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  align-items: stretch;
  display: flex;
  border-radius: 1rem;
  background-color: #f3e9f1;
}

.image_block {
  width: 50%;
  min-width: 50%;
  margin-right: 1rem;
}

.product_Image {
  border-radius: 1rem;
  width: 100%;
  height: 16rem;
  display: block;
}

.product_block {
  width: 100%;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  display: flex;
}

h1 {
  margin-top: 1rem;
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.ratings {
  align-items: center;
  display: flex;
}

.star {
  height: 1.25rem;
}

.product_Description {
  text-align: justify;
  margin-top: 1rem;
  font-family: "Open Sans";
  font-weight: lighter;
  font-size: 1rem;
}

h2 {
  margin-top: 1rem;
}

.buy_bouton {
  width: 100%;
  background-color: blueviolet;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
  color: white;
  border-radius: 1rem;
}

.order_block {
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 1rem;
  background-color: #f3e9f1;
}
.order_block .order_title {
  margin-bottom: 0.5rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.order_table {
  width: 100%;
}
.order_table .table_row {
  background-color: white;
  border-width: 1px;
}
.order_table .table_row .table_case {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

tr {
  background-color: #f3f4f6;
}

td.total {
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

td.total_Price {
  text-align: center;
}

.form_section {
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 1rem;
  background-color: #f3e9f1;
}
.form_section .form_order_title {
  margin-bottom: 0.5rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.form_block {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1rem;
}

.form_row {
  display: flex;
  flex-direction: column;
}

.form_row2 {
  display: flex;
  flex-direction: column;
  grid-column: span 2/span 2;
}

.label {
  display: block;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #374151;
}

.input {
  border-radius: 0.3rem;
  display: block;
  margin-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-color: #d1d5db;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.confirm_button {
  display: flex;
  justify-content: flex-end;
}
.confirm_button .confirm_Purchase {
  display: inline-flex;
  justify-content: center;
  border-radius: 0.3rem;
  border-width: 1px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 1.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: white;
  background-color: #e54690;
}

/*# sourceMappingURL=style.css.map */
