body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 1rem;
    background-color: salmon;
}

header {
    /*! max-width large screen !*/
    max-width: 1440px;
    margin: auto;
}

main {
    /*! max-width large screen !*/
    max-width: 1440px;
    margin: auto;
}

footer {
    /*! max-width large screen !*/
    max-width: 1440px;
    margin: auto;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}